* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "JetBrainsMono NFP", "Symbols Nerd Font";
  font-size: 13px;
  font-weight: 600;
}

/* ===== Bar ===== */
window#waybar {
  background-color: #0d0d18; /* black, but not dead black */
}

/* ===== Workspaces ===== */
#workspaces button {
  padding: 0.25rem 0.6rem;
  margin: 0.35rem 0.2rem;
  border-radius: 6px;

  background-color: transparent;
  color: #6f313d;

  border: 1px solid #1b1b30;
}

#workspaces button:hover {
  background-color: #141426;
  color: #a44344;
}

#workspaces button.active {
  background-color: #1b1b30;
  border: 1px solid #6f313d;
  color: #eb6065;
}

#workspaces button.urgent {
  background-color: #a44344;
  color: #090915;
  border: none;
}

/* ===== Modules ===== */
#pulseaudio,
#battery,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.35rem 0.25rem;
  border-radius: 6px;

  background-color: #1b1b30;
}

#clock {
	margin: 0.35rem 0.55rem;
	border-radius: 6px;

	background-color: #0d0d18;
}

/* ===== Window title ===== */
window#waybar.empty #window {
  background-color: transparent;
}

#window {
  color: #cfcfd8;
}

/* ===== Media ===== */
#mpris.playing {
  color: #eb6065;
}

#mpris.paused {
  color: #6f313d;
}

/* ===== System indicators ===== */
#battery {
  color: #eb6065;
}

#cpu,
#memory {
  color: #eb6065;
}

#clock {
  color: #eb6065;
}

#pulseaudio {
  color: #eb6065;
}

#pulseaudio.muted {
  color: #eb6065;
}

/* ===== Custom ===== */
#custom-logo {
  color: #eb6065;
}

#custom-power {
  color: #eb6065;
}

/* ===== Tooltip ===== */
tooltip {
  background-color: #090915;
  border: 1px solid #1b1b30;
  color: #cfcfd8;
}

